<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/Widget" version="1.0.0">
    <tizen:app-widget id="nVXz3PNVjd.Widget.Widget" primary="true">
        <tizen:widget-label>Hello Web Widget!</tizen:widget-label>
        <tizen:widget-content src="widget/Widget/index.html">
            <tizen:widget-size preview="widget/Widget/preview.png">2x2</tizen:widget-size>
        </tizen:widget-content>
    </tizen:app-widget>
    <tizen:application id="nVXz3PNVjd.Widget" package="nVXz3PNVjd" required_version="4.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <icon src="icon.png"/>
    <name>Widget</name>
    <tizen:profile name="wearable"/>
</widget>
